# Project exclude paths
/.gradle/
/build/
/ClientPrject/build/
/ClientPrject/build/classes/java/main/
/ClientPrject/build/classes/java/test/
/LibraryProject/build/
/LibraryProject/build/classes/java/main/
/ServerProject/build/
/ServerProject/src/main/resources/META-INF/persistence.xml
/ServerProject/src/main/resources/META-INF/hibernate.cfg.xml
/property.txt
